@model Dookki_Web.Models.ACCOUNT

@{
    ViewBag.Title = "AddAdmin";
}

<h2>Thêm mới admin</h2>

@using (Html.BeginForm("AddAdmin", "AdminManagement", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="Name" class="control-label col-md-2">Tên đầy đủ</label>
            <div class="col-md-10">
                <input type="text" name="name" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="Phone" class="control-label col-md-2">Số điện thoại</label>
            <div class="col-md-10">
                <input type="text" name="phone" class="form-control">
            </div>
        </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 d-flex justify-content-start">
            <input type="submit" value="Thêm mới" class="btn btn-outline-success mr-2 w-25" />
            <button type="button" class="btn btn-primary w-25" onclick="window.location.href='@Url.Action("Index", "AdminManagement")'">
                Trở lại
            </button>
        </div>
    </div>
</div>
}
