@model IEnumerable<Dookki_Web.Models.ACCOUNT>

@{
    ViewBag.Title = "Index";
}

<h2>QUẢN LÍ TÀI KHOẢN</h2>

@*<p>
    @Html.ActionLink("Create New", "AddAdmin")
</p>*@
<table class="table" border="1">
    <p>
        <button type="button" class="btn btn-primary" onclick="window.location.href='@Url.Action("AddAdmin", "AdminManagement")'">
            Thêm tài khoản admin
        </button>
    </p>

    <tr>
        <th style="width: 100px;">Tài khoản</th>
        <th style="width: 100px;">Mật khẩu</th>
        <th style="width: 100px; text-align: right">Vai trò</th>
        <th style="width: 200px;"></th>
    </tr>

    @foreach (var item in Model)
    {


        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td style="text-align:right">
                @if (item.Role == "admin")
                {
                   <button type="button" class="btn btn-primary" onclick="window.location.href='@Url.Action("EditAdmin", "AdminManagement", new { id = item.ID })'">
                       Sửa tài khoản
                   </button>
                    <span>|</span>
                   <button type="button" class="btn btn-danger" onclick="window.location.href='@Url.Action("RemoveAdmin", "AdminManagement", new { id = item.ID })'">
                       Xóa tài khoản
                   </button>
                }
            </td>
        </tr>
    }

</table>
