@model IEnumerable<Dookki_Web.Models.BookingRequest>
@{
    ViewBag.Title = "ListAcceptedRequest";

}

<div class="mb-2">
    <form class="form-inline mr-auto ml-md-3 my-2 my-md-0 navbar-search ml-auto d-flex justify-content-end" method="get" action="@Url.Action("ListAcceptedRequest", "AdminHome")">
        <div class="input-group">
            @*<div class="input-group-append mr-2">
                    <button type="button" class="btn btn-primary d-flex justify-content-end" onclick="window.location.href='@Url.Action("ListAcceptedRequest", "AdminHome")'">
                        Xem danh sách chờ yêu cầu
                    </button>
                </div>*@
            <div class="input-group-append">
                <input type="text" name="searchTerm" class="form-control bg-light border-1 small" placeholder="Tìm kiếm..."
                       aria-label="Search" aria-describedby="basic-addon2">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<table class="table" border="1">

    <tr>
        <th style="width: 100px;">Tên yêu cầu</th>
        <th style="width: 100px; text-align: right">Thời gian</th>
        <th style="width: 200px;"></th>
    </tr>
    @for (int i = 0; i < Model.Count(); i++)
    {
        var booking = Model.ElementAt(i);
        if (booking.Status == "Accepted")
        {
            <tr>
                <td>
                    @Html.Label(booking.Name + " (" + booking.Phone + ")")
                </td>
                <td style="text-align:right">
                    @Html.Label(booking.Time.ToString())
                </td>
                <td style="text-align:right">
                    <button type="button" class="btn btn-danger" onclick="confirmDelete(@booking.ID)">
                        Xóa yêu cầu
                    </button>
                </td>
            </tr>
        }
    }
</table>
<div style="position:relative;">
    @Html.ActionLink("Về trang chủ", "Index", "AdminHome", null, new { @class = "btn btn-primary", @style = "position: absolute; right:0"})
</div>

<script>
    function confirmDelete(id) {
        if (confirm('Bạn có chắc chắn muốn xóa yêu cầu này không?')) {
            // Chuyển hướng đến action DeleteRequest nếu người dùng xác nhận
            window.location.href = '@Url.Action("DeleteRequest", "AdminHome")' + '?id=' + id;
        }
    }
</script>
